* {
    /*min-width: 200px;
    max-width: 1441px;
    /*flex-wrap: wrap;*/
    background-color: darksalmon;
    border-width: 5px;
    border-color: darkturquoise;
    border-style: dotted;
    color:green;
    justify-content: center;
    align-items:center;
}

a {
    padding: 5px;
    margin: 13px;
}

h2 , p, li {
    text-align: center;

}

main{
    border-style: outset;
    border-width: 3%;
    border-color: tomato;
    border-spacing: 4px;
    padding:5px;
}

h1{
    border-color:darkblue;
    color:indigo;
    text-align: center;
}

nav{
    display:flex;
    border-color:red;
    color:cornflowerblue;
    text-align: center;
}

li{
    border-style: solid;
    padding:4px;
    margin:4px;
    border-color: rgb(28, 170, 87);
    border-width: 2px;
}

a{
    border-color:gold;
    font-style: italic;
    color:seashell;
    background-color: slategrey;
}
body {
    box-sizing: content-box;
    padding: 2.2cm;
    margin: 90px;
    justify-items: flex-start;
    background-color: dimgrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    color: purple;
    border-width: 10px;
    border-style: double;
    border-color: lawngreen;
    align-items: center;
    
}

tbody{
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    
}

td{
    border-color: black;
    border-radius: 15%;
    border-style: groove;
    box-shadow: greenyellow, 2xp ;
    padding: 2.2cm;
    margin: 90px;
    color:red;
}

tr{
    justify-content: center;
    display:flex;
    padding: 0.2cm;
    margin: 40px;
    color:goldenrod;
}
table {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5%;
    margin: 5px;
    border-width: 5px;
    border-color: maroon;
}
aside {
    flex-direction: column;
    align-content: center;
    justify-content:stretch;
    box-sizing:content-box;
    display:flex;
    border-color: sienna;
    border-radius: 20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
}

form{
    border-color: slateblue;
    border-radius: 20%;
    border-spacing: 25%;
    margin: 3px;
    padding: :3px;
    text-align: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

input#createTask{
    text-align: center;
    border-color:black;
    border-radius: 15%;
    border-style: groove;
    border-collapse: collapse;
}

div#side{
    align-content: center;
    justify-content: center;
    box-sizing:content-box;
    flex-wrap:wrap;
    align-content:center;
    background-color:black;
}

tc{
    display:grid;
    justify-content: center;
    text-align: center;
}

#current{
    color:yellow;
}

#passedDue{
    color: crimson;
}

#completed{
    color:lime;
}

#submit{
    border-color: crimson;
    border-style: double;
    color:gold;
    background-color: black;
}

#clear{
    border-style:solid;
    border-color:darkgreen;
    background-color: violet;
    color:yellow;
    font-weight: 600;
}

@media screen and (min-width:769px) and (max-width:1440px) {
        flex-grow;
        display:flex;
        flex-wrap:wrap;

}


@media screen and (min-width:600px) and (max-width:768px) {
    align-content: stretch;
    gap: 5px 5px;
    justify-content: space-around;
    display:flex;
    flex-direction:colomn;
    flex-wrap: wrap;


}

@media screen and (min-width:200px) and (max-width:599px) {
        border-color:green;
        display:flex;
        flex-flow: column-wrap;
}